body {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-bottom: 3rem;
    padding-right: 3rem;
    background-image: url('../shoeshackhome/homebackground.jpg');
    background-repeat: repeat;
    background-attachment: scroll;
} 